html {
    background-color: rgb(64,30,0);
    font-family: sans-serif;
    font-weight: lighter;
    color: lightgray;
}

nav {
    position: fixed;
    right: 1%;
    bottom: 1%;
}

nav ul {
    list-style-type: none;
}

h1 {
    text-align: center;
}

input[type=text], textarea {
    width: 97%;
    padding: 3px;
    background-color: darkgray;
    border: none;
    border-radius: 3px;
    text-align: left;
    box-shadow: 3px 3px 3px rgb(24,64,59);
}

button, .text-button {
    margin: 0 auto;
    display: block;
    width: 50%;
    border: none;
    border-radius: 3px;
    padding: 3px;
    font-size: larger;
    font-weight: bold;
    color: lightgray;
    background-color: rgb(179,80,0);
    box-shadow: 3px 3px 3px black, inset 3px 3px 3px rgb(199,120,0);
}

button:hover {
    opacity: 0.2;
}

mark {
    background-color: rgb(255,146,97);
}

.text-button:hover {
    opacity: 0.2;
}


a:link {
    text-decoration: none;
    color: lightgray;
}

a:visited {
    text-decoration: none;
    color: lightgray;
}

a:hover {
    text-decoration: none;
    color: darkorange;
}

a:active {
    text-decoration: none;
    color: darkorange;
}


/* classes */

.menu-button {
    margin: 3px;
    box-shadow: 3px 3px 3px black;
    border-radius: 3px;
}

.menu-button:hover {
    opacity: 0.2;
}

.question {
    margin: 1%;
    padding: 1%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px black, inset 3px 3px 3px rgb(84,50,20);
    background-color: rgb(74,40,10);
}

.question-info {
    color: rgb(230,103,0);
    font-size: small;
}

.question-title {
    font-size: larger;
}

.answer {
    margin: 1%;
    padding: 1%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px black, inset 3px 3px 3px rgb(84,50,20);
    background-color: rgb(74,40,10);
}

.comment {
    margin: 1%;
    margin-left: 60%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px black, inset 1px 1px 3px rgb(179,80,0);
    background-color: rgb(102,46,0);

}

.sort-bar {
    display: none;
    position: fixed;
    bottom: calc(1% + 15px);
    right: calc(1% + 50px);
}

.sort-bar ul {
    list-style-type: none;
    text-align: right;
}

.sort-button {
    margin: 3px;
    box-shadow: 3px 3px 3px rgb(24,64,59);
    border-radius: 3px;
}

.sort-button:hover {
    opacity: 0.2;
}

.search-answer {
    margin: 1%;
    padding: 1%;
    border-radius: 3px;
    box-shadow: 3px 3px 3px black, inset 3px 3px 3px rgb(84,50,20);
    background-color: rgb(74,40,10);
}

.authentication-bar {
    display: block;
}

.authentication-items {
    text-align: right;
}

.tag {
    background-color: rgb(191,89,0);
    margin-left: 1%;
    padding-left: 8px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-top: 2px;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: inset 2px 2px 2px rgb(255,120,1);
}

.tag-action {
    background-color: rgb(191,89,0);
    margin-left: 3px;
    padding: 2px;
    border-radius: 3px;
    color: lightgray;
    box-shadow: inset 2px 2px 2px rgb(255,120,1);
}

.user-info-container {
    margin: 1%;
}
