<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>QA demo</title>
    {% endif %}

    {% block head %}{% endblock head %}

</head>

<body>

<div class="authentication-items">
    <a href="{{ url_for('register') }}">Register</a>
</div>

<nav>
    <ul>


        {% if request.path == '/list' %}
            <li><img src="/static/img/buttonsort.png" onclick="myFunction()" class="sort-button"></li>
                <div id="sort-bar" class="sort-bar">
                    <ul>
                        <li>
                            Date
                            <a href="{{ url_for('list_all_questions', order_by='submission_time', order_direction='DESC' )}}"><img src="/static/img/buttonsortup.png" class="menu-button"></a>
                            <a href="{{ url_for('list_all_questions', order_by='submission_time', order_direction='ASC' )}}"><img src="/static/img/buttonsortdown.png" class="menu-button"></a>
                        </li>
                        <li>
                            Question
                            <a href="{{ url_for('list_all_questions', order_by='title', order_direction='ASC' )}}"><img src="/static/img/buttonsortup.png" class="menu-button"></a>
                            <a href="{{ url_for('list_all_questions', order_by='title', order_direction='DESC' )}}"><img src="/static/img/buttonsortdown.png" class="menu-button"></a>
                        </li>
                        <li>
                            Details
                            <a href="{{ url_for('list_all_questions', order_by='message', order_direction='ASC' )}}"><img src="/static/img/buttonsortup.png" class="menu-button"></a>
                            <a href="{{ url_for('list_all_questions', order_by='message', order_direction='DESC' )}}"><img src="/static/img/buttonsortdown.png" class="menu-button"></a>
                        </li>
                        <li>
                            Views
                            <a href="{{ url_for('list_all_questions', order_by='view_number', order_direction='ASC' )}}"><img src="/static/img/buttonsortup.png" class="menu-button"></a>
                            <a href="{{ url_for('list_all_questions', order_by='view_number', order_direction='DESC' )}}"><img src="/static/img/buttonsortdown.png" class="menu-button"></a>
                        </li>
                        <li>
                            Votes
                            <a href="{{ url_for('list_all_questions', order_by='vote_number', order_direction='ASC' )}}"><img src="/static/img/buttonsortup.png" class="menu-button"></a>
                            <a href="{{ url_for('list_all_questions', order_by='vote_number', order_direction='DESC' )}}"><img src="/static/img/buttonsortdown.png" class="menu-button"></a>
                        </li>
                    </ul>
                </div>

                <script>
                    function myFunction() {
                        var x = document.getElementById("sort-bar");
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none"
                        }
                    }
                </script>

        {% endif %}


        <li><a href="{{ url_for('info') }}"><img src="/static/img/buttoninfo.png" class="menu-button"></a></li>
        <li><a href="{{ url_for('list_all_questions') }}"><img src="/static/img/buttonlist.png" class="menu-button"></a></li>
        <li><a href="{{ url_for('new_question') }}"><img src="/static/img/buttonplus.png" class="menu-button"></a></li>
        <li><a href="{{ url_for('index') }}"><img src="/static/img/buttonhome.png" class="menu-button"></a></li>
    </ul>
</nav>

    {% block body %}{% endblock body %}

</body>
</html>
