{% extends 'base.html' %}

{% block head %}{% endblock head %}




{% block body %}
<h1>Edit question {{ question_id }}</h1>

{% for item in question %}

<form action="{{ url_for('edit_question', question_id=question_id) }}" method="POST">
    <label for="title">Question:</label><br>
    <input type="text" value="{{ item.title }}" name="title" id="title" required>
    <label for="message">Details:</label>
    <textarea name="message" id="message" rows="6" cols="50" required>{{ item.message }}</textarea><br>
    <input type="file" name="upload">
    <input type="submit" value="Post">
</form>

{% endfor %}

{% endblock body %}
