{% extends 'base.html' %}

{% block head %}

{% endblock head %}




{% block body %}

<a href="{{ url_for('list_all_questions') }}"><h1>ALL QUESTIONS</h1></a>





{% for question in questions %}

    <div class="question">
        <p>
            {{ question.vote_number }} <strong><a href="/question/{{ question.id }}" class="question-title">{{ question.title }}</a></strong><br>
            <span class="question-info">Submitted on {{ question.submission_time }} ID: {{ question.id }} Views: {{ question.view_number }}<span>

        </p>
        <p>
            {{ question.message }}
        </p>

        {% if question.image == 'None' or question.image == None %}

        {% else %}
        <p>
            {{ question.image }}
        </p>
        {% endif %}
    </div>


{% endfor %}

{% endblock body %}
