{% extends 'base.html' %}

{% block head %}{% endblock head %}



{% block body %}

<h1>Question {{ question_id }}</h1>


<div class="question">
    {% for item in question %}
    <p>
        <a href="{{ url_for('question_vote_up', question_id=question_id) }}"><img src="/static/img/buttonupvote.png" width="20" height="17"></a>
        {{ item.vote_number}}
        <a href="{{ url_for('question_vote_down', question_id=question_id) }}"><img src="/static/img/buttondownvote.png" width="20" height="17"></a>
        <span class="question-title">{{ item.title }}</span>
        <a href="{{ url_for('question_new_comment', question_id=question_id) }}"><img src="/static/img/buttoncomment.png" width="20" class="menu-button"></a>
        <a href="{{ url_for('edit_question', question_id=question_id) }}"><img src="/static/img/buttonedit.png" width="20" class="menu-button"></a>
        <a href="{{ url_for('delete_question', question_id=question_id) }}"><img src="/static/img/buttondelete.png" width="20" class="menu-button"></a>
    </p>
    <p>
        {{ item.message }}
    </p>
        {% if item.image == None or item.image == 'None' %}

        {% else %}
        <p>
            {{ item.image }}
        </p>
        {% endif %}



    {% endfor %}




</div>

<div>
    {% for comment in comments %}
        {% for item in comment %}

            {% if item.question_id == question_id %}
                <p class="comment">
                    {{ item.message }}
                    <a href="{{ url_for('edit_comment', comment_id=item.id) }}"><img src="/static/img/buttonedit.png" width='20' class="menu-button"></a>
                </p>
            {% endif %}

        {% endfor %}
    {% endfor %}
</div>



<h2>Answers</h2>


    {% for answer in answers %}
        <div class="answer">
            <p>
                <a href="{{ url_for('answer_vote_up', answer_id=answer.id) }}"><img src="/static/img/buttonupvote.png" width="20" height="17"></a>
                {{ answer.vote_number }}
                <a href="{{ url_for('answer_vote_down', answer_id=answer.id) }}"><img src="/static/img/buttondownvote.png" width="20" height="17"></a>
                <span>{{ answer.message }}</span>
                <a href="{{ url_for('answer_new_comment', answer_id=answer.id) }}"><img src="/static/img/buttoncomment.png" width="20" class="menu-button"></a>
                <a href="{{ url_for('edit_answer', answer_id=answer.id, question_id=answer.question_id) }}"><img src="/static/img/buttonedit.png" width="20" class="menu-button"></a>
                <a href="{{ url_for('delete_answer', answer_id=answer.id) }}"><img src="/static/img/buttondelete.png" width="20" class="menu-button"></a>
            </p>
        </div>

        <div>
            {% for comment in comments %}
                {% for item in comment %}

                    {% if item.answer_id == answer.id %}
                        <p class="comment">
                            {{ item.message }}
                            <a href="{{ url_for('edit_comment', comment_id=item.id) }}"><img src="/static/img/buttonedit.png" width='20' class="menu-button"></a>
                        </p>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}

<a href="{{ url_for('question_new_answer', question_id=question_id) }}"><button>Reply</button></a>

{% endblock body %}
