{% extends 'base.html' %}

{% block head %}{% endblock head %}



{% block body %}

<h1>Question {{ question_id }}</h1>


<div class="question">
    {% for item in question %}
    <p>
        <a href="{{ url_for('question_vote_up', question_id=question_id) }}"><img src="/static/img/buttonupvote.png" width="20" height="17"></a>
        {{ item.vote_number}}
        <a href="{{ url_for('question_vote_down', question_id=question_id) }}"><img src="/static/img/buttondownvote.png" width="20" height="17"></a>
        <span class="question-title">{{ item.title }}</span>
        <a href="{{ url_for('edit_question', question_id=question_id) }}"><img src="/static/img/buttonedit.png" width="20" class="menu-button"></a>
        <a href="{{ url_for('delete_question', question_id=question_id) }}"><img src="/static/img/buttondelete.png" width="20" class="menu-button"></a>
    </p>
    <p>
        {{ item.message }}
    </p>
        {% if item.image == None %}

        {% else %}
        <p>
            {{ item.image }}
        </p>
        {% endif %}
    {% endfor %}
</div>




<h2>Answers</h2>


    {% for answer in answers %}
        <div class="answer">
            <p>
                <a href="{{ url_for('answer_vote_up', answer_id=answer.id) }}"><img src="/static/img/buttonupvote.png" width="20" height="17"></a>
                {{ answer.vote_number }}
                <a href="{{ url_for('answer_vote_down', answer_id=answer.id) }}"><img src="/static/img/buttondownvote.png" width="20" height="17"></a>
                <span>{{ answer.message }}</span>
                <a href="{{ url_for('edit_answer', answer_id=answer.id, question_id=answer.question_id) }}"><img src="/static/img/buttonedit.png" width="20" class="menu-button"></a>
                <a href="{{ url_for('delete_answer', answer_id=answer.id) }}"><img src="/static/img/buttondelete.png" width="20" class="menu-button"></a>
            </p>
        </div>
    {% endfor %}

<a href="{{ url_for('question_new_answer', question_id=question_id) }}">Reply</a>

{% endblock body %}
